[submodule "board-support"]
	path = board-support
	url = https://github.com/nw-rs/board-support.git
[submodule "bootloader"]
	path = bootloader
	url = https://github.com/nw-rs/bootloader.git
[submodule "os"]
	path = os
	url = https://github.com/nw-rs/os.git
