[submodule "board-support"]
	path = board-support
	url = ../board-support.git
[submodule "bootloader"]
	path = bootloader
	url = ../bootloader.git
[submodule "os"]
	path = os
	url = ../os.git
[submodule "citrus-cas"]
	path = citrus-cas
	url = ../citrus-cas.git
